.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            margin: auto;
            margin-top: 15px;
            padding: 10px;
        }
    }
}